{{#each articles}}
    <div>
        <span>
            <h1 style="display: inline-flex"><a href="/blog/articles/{{id}}">{{title}}   </a></h1>
            <span>  Created by: {{username}} </span>
        </span>
        <h2>{{shortDescription}}</h2>
        <h2>{{textContent}}</h2>
        <p>{{time}}</p>
        <form action="/blog/my_articles/remove/{{id}}" method="POST">
            <input type="hidden" value="{{id}}" name="articleId">
            <input type="hidden" value="{{userId}}" name="userId">
            <button type="submit">Delete article</button>
        </form>
    </div>
{{/each}}